<div class="test">
  <div class="main-container" *ngIf="!isLoading">
    <div *ngIf="!isTestStart && !isTestComplete" class="test-start">
      <button class="btn btn-success" (click)="startTest()">Lets Start</button>
    </div>

    <div
      *ngIf="!isTestStart && isTestComplete"
      class="test-finish d-flex flex-column"
    >
      You Got {{ marks }} out of 100
      <button class="btn btn-success mt-4" (click)="reset()">Reset</button>
    </div>

    <div *ngIf="isTestStart && !isTestComplete" class="test-progress">
      <div class="question-container">
        <div
          *ngIf="!isLoading"
          class="timer d-flex justify-content-between w-100"
        >
          <div>
            <i class="fa fa-clock-o text-info" aria-hidden="true"></i>
            <span class="time">{{ subscribeTimer }}</span>
          </div>
        </div>
        <hr />
        <h3>Q. {{ displayQuestion.question }}</h3>
        <div class="option-container">
          <div
            [ngClass]="{
              selected: item.key === selectedValue && !displayQuestion.selected
            }"
            class="option"
            *ngFor="let item of displayQuestion.option"
            (click)="selectedOption(item.key)"
          >
            {{ item.value }}
          </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between align-items-center mt-3">
          <div>{{ page + 1 }} out of 100</div>
          <button
            *ngIf="selectedValue && questions.length > page + 1"
            class="btn btn-outline-primary"
            (click)="next()"
          >
            Next
          </button>
          <button
            *ngIf="selectedValue && questions.length == page + 1"
            class="btn btn-success"
            (click)="finishQuiz()"
          >
            Finish
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">Loading...</div>
</div>
