<div class="upload-page">
  <a routerLink="/"><i class="fa fa-angle-left"></i>Back</a>
  
  <div class="content">
    <input
    id="file"
    type="file"
    (change)="uploadExcel($event)"
    *ngIf="!loading"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  />
  <label *ngIf="!loading" for="file"
    ><i class="fa fa-upload"></i>Choose a file</label
  >
  <span *ngIf="loading"><i class="fa fa-spinner fa-pulse"></i></span>
  <span *ngIf="invalidHeader" class="text-danger">{{
    invalidHeaderError
  }}</span>
  </div>
</div>
